@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
* {
	font-family : 'Nanum Gothic';
}

h1 {
	font-family : 'Hanna';
}




.navbar-brand {
  float: left;
  height: 150px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}